* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth; 
}

:root {
  --msp-primary-dark: #145050;
  --msp-sage-light: #a8c5be;
  --msp-primary-mid: #286464;
  --msp-beige: #dcdcc8;
  --error:#e8463a;
  --loading: #6b7280;
  --font-title: "jakartatitle";
  --font-p: "jakartatxt";
}


@font-face {
  font-family: 'jakartatitle';
  src: url('/fonts/PlusJakartaSans-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'jakartatxt';
  src: url('/fonts/PlusJakartaSans-Regular.ttf') format('truetype');
}