@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'workSans';
  src: url('/fonts/WorkSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'workSans';
  src: url('/fonts/MerriweatherSans-Medium.ttf') format('truetype');
}
