.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 32px;
}

.navigation {
  align-items: center;
  gap: 100px;
}

.navigation.is-open { /* mobile: ouvert */
  display: block;
  position: absolute;
  top: 64px; left: 0; right: 0;
  background: var(--msp-green);
  padding: 12px 20px 16px;
}

@media (min-width: 768px) {
  .mobile-trigger { display: none; }
  .navigation {
    display: flex; /* desktop: visible */
    position: static;
    background: transparent;
    padding: 0;
  }
}

.nav-link,
.dropdown-btn {
  position: relative;
  color: var(--msp-primary-dark);
  text-decoration: none;
  transition: color .2s ease;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-family: var(--font-title);
  font-size: 1.4rem;
}

/* Surlignement */
.nav-link::after,
.dropdown-btn::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 1.5px;
  background-color: var(--msp-primary-dark);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform .7s ease;
}

/* hover */
.nav-link:hover::after,
.dropdown-btn:hover::after {
  transform: scaleX(1);
}

.nav-link.urgent {
  font-weight: 600;
  padding-right: 20px;
}

.dropdown-btn {
  background: transparent;
  border: none;
  cursor: pointer;
}

.icon {
  color: var(--msp-primary-dark);
  transition: transform .2s ease;
}
.icon.rotate { transform: rotate(180deg); }

/* Menu déroulant */
.dropdown-menu {
  position: absolute;
  z-index: 20;
  margin-top: 8px;
  width: 370px;
  max-width: 370px;
  padding: 8px;
  background: var(--white);
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0,0,0,.15);
  opacity: 0;
  visibility: hidden;
  transition: opacity .30s ease, visibility .18s ease;
  list-style: none;
  border: 1px solid rgba(0,0,0,0.08);
}

.dropdown-menu.open {
  opacity: 1;
  visibility: visible;
}

.dropdown-error {
  padding: 8px 12px;
  color: var(--error);
  font-size: 14px;
}

.dropdown-loading {
  padding: 8px 12px;
  color: var(--loading);
  font-size: 14px;
}

.dropdown-item {
  display: block;
  padding: 12px;
  border-radius: 10px;
  text-decoration: none;
  color: var(--msp-primary-dark);
  font-family: var(--font-p);
  transition: background-color .15s ease, color .15s ease;
  font-size: 1.2rem;
}

.dropdown-item:hover {
  background: var(--msp-sage-light);
  color: white;
}







