.section-news {
  margin: auto;
  padding: 70px 0;
  position: relative;
  border-top: 1px solid rgba(25, 95, 99, 0.04);
}

.news-head {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 16px;
  max-width: 1100px;
  margin: 0 auto 40px;
  padding: 0 16px;
}

.news-head h2 {
  margin: 0;
  color: var(--msp-green);
  font-family: var(--font-title);
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 8px;
  line-height: 2;
}

.news-sub {
  font-family: var(--font-p);
  line-height: 1.7;
  font-size: 1.1rem;
  color: var(--muted);
  text-align: justify;
  letter-spacing:.08em;
  margin-top: 25px;
}

.container-new { 
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  gap: 24px;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto; 
  padding: 16px;
}

.card-new {
  background: #fff;
  border-radius: 22px;
  width: 280px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.06);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}


.card-new-body {
  padding: 16px 18px 8px;
}

.card-new-footer {
  margin-top: auto;
  padding: 10px 18px 14px;
  border-top: 1px solid rgba(0,0,0,0.05);
}

.card-new h3 {
  font-family: var(--font-title);
  color: var(--msp-green);
  padding: 5px 0 10px;
}

.news-picture {
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.card-new p {
  font-family: var(--font-p);
  color: var(--muted-p);
  padding: 0 5px;
  text-align: justify;
  letter-spacing: 0.3px;
  line-height: 1.50;
  max-height: 7.5rem; 
  overflow: hidden;
}

.card-new a {
  display: block;
  padding: 5px;
  text-decoration: none;
  font-family: var(--font-p);
  color: #ddb892;
  font-weight: 600;
}

.card-new a::after {
  content: " ›";
  font-size: 1.1em;
}

.card-new a:hover {
  text-decoration: underline;
}

.news-created-p {
  font-size: .85rem;
  color: #6b7b7b;
  margin-top: 18px;
  display: block;
  font-family: var(--font-p);
}

